[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipykernel = "*"
numpy = "*"
pylint = "*"
matplotlib = "*"
scipy = "*"
imageio = "*"
autopep8 = "*"
torch = "*"
setuptools = "*"
cython = "*"
future = "*"
torchvision = "*"
h5py = {index = "p-lock",version = "*"}

[requires]
python_version = "3.6"
